<%- include("../partials/head.ejs")%>
<link rel="stylesheet" href="/css/styles-editar-productos.css">
</head>
<body>
<%- include("../partials/header.ejs")%>
<h3 style="text-align: center;">Buscar</h3>
<form action="/productDetail/search-producto?search=" method="GET">
<input type="text" name="search">
<input type="submit" value="search">
</form>


<h1>Editar <%= producto.nombre  %></h1>
<article class="articulo-producto"></article>
<form action="/productDetail/editar-producto/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="PUT">
    
    <p class="titulo">Nombre :<input type="text" name="nombre" value="<%= producto.nombre %>"></p>

    <p class="precio">Precio : $<input type="number" name="precio" value="<%= producto.precio %>"></p>

    <p class="categoria">Categoria :
        <select name="categoria">
            <option value="pizza" <%= producto.categoria === 'pizza' ? 'selected' : '' %>>Pizza</option>
            <option value="tarta" <%= producto.categoria === 'tarta' ? 'selected' : '' %>>Tarta</option>
            <option value="picada" <%= producto.categoria === 'picada' ? 'selected' : '' %>>Picada</option>
            <option value="plato" <%= producto.categoria === 'plato' ? 'selected' : '' %>>Plato</option>
            <option value="evento" <%= producto.categoria === 'evento' ? 'selected' : '' %>>Evento</option>
        </select>
    </p>
    <p class="descripcion">Descripcion : <input type="text" name="descripcion" value="<%= producto.descripcion %>"></p>

    <p class="imagen"><input type="file" name="imagen" value="<%= producto.imagen %>"></p>

    <input type="submit" value="EDIT">
</form>
</article>
</body>
<%- include("../partials/footer.ejs")%>
</html>