<%- include("../partials/head.ejs")%>
<link rel="stylesheet" href="/css/styles-editar-productos.css">
<script src="/js/editproductValidations.js"></script>
</head>
<body>
<%- include("../partials/header.ejs")%>
<h3 style="text-align: center;">Buscar</h3>
<form action="/productDetail/search-producto?search=" method="GET">
<input type="text" name="search">
<input type="submit" value="search">
</form>


<h1>Editar <%= product.name  %></h1>
<article class="articulo-producto"></article>
<form id="formulario" class="editar" action="/productDetail/editar-producto/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="PUT">
    
    <p class="titulo">Nombre :<input id="name" type="text" name="name" value="<%= product.name %>"></p>
    <div id="nameError" class="text-danger"></div>

    <p class="precio">Precio : $<input id="price" type="number" name="price" value="<%= product.price %>"></p>
    <div id="priceError" class="text-danger"></div>

    <select  class="form-select" id="category" name="categoryId" required>
        <% for (let i =0; i< category.length; i ++) { %>
            <% if (category[i].id == product.categoryId){ %>
                <option value="<%= category[i].id%>" selected>
                    <%=category[i].name%>
            <% } else {%>
                <option value="<%= category[i].id%>" >
                    <%=category[i].name%>
                </option>
            <%}%>                    
    <% } %>
      </select>
    
    <p class="descripcion">Descripcion : <input id="description" type="text" name="description" value="<%= product.description %>"></p>
    <div id="descriptionError" class="text-danger"></div>

    <p class="imagen"><input id="imagen" type="file" name="imagen" value="<%= product.imagen %>"></p>
    <div id="imagenError" class="text-danger"></div>

    <input class="button" type="submit" value="EDIT">
</form>
</article>
</body>
<%- include("../partials/footer.ejs")%>
</html>