<%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="/css/styles-productDetail.css">
    <script src="/js/productDetail.js"></script>
</head>
<body  class="main-body">

<%- include("../partials/header.ejs")%>
<main>
  <a href="/productDetail/productCart">
    <div class="cart-container" id="carrito">
        <div class="cart-icon">
            <i class="fas fa-shopping-cart"></i>
            <span class="cart-count" type="number">0</span>
          </div>
          
    </div>
  </a>
  
  <div>
    <ul class="navbar-product">
      <li><a href="/productDetail/detalle/picada">Picada</a></li>
      <li><a href="/productDetail/detalle/tarta">Tarta</a></li>
      <li><a href="/productDetail/detalle/pizza">Pizza</a></li>
      <li><a href="/productDetail/detalle/plato">Plato</a></li>
  </ul>
</div>

<section class="productos" id="lista-productos">
  <% if (productos.length > 0) { %>
    <% productos.forEach(producto => { %>
      <article class="articulo-producto" id="div-producto-gral">
        <a href="#" class="image-link"><img class="producto" src="/images/<%= producto.imagen %>" alt="producto" id="imagen-producto"></a>
        <p class="titulo"><%= producto.name %></p>
        <p class="precio">$<%= producto.price %></p>
        <a href="#" class="agregar-carrito" data-id="<%= producto.id %>">Agregar al carrito <i class="fa-solid fa-circle-plus"></i></a>
        <div class="modal modal-producto">
          <div class="modal-contenido">
            <span class="cerrar">&times;</span>
            <h2><%= producto.name %></h2>
            <p style="margin: 17px 0 17px 0"><%= producto.description %></p>
            <h3 >€ <%= producto.price %></h3>
            <p> <img src="/images/<%= producto.imagen %>" style="margin: 20px; width: 100%;"></p>
            <div class="cantidad-container">
              <label for="cantidad" style="margin-right: 10px">Cantidad:</label>
							<button class="cantidad-btn minus-btn">-</button>
							<input type="number" class="cantidad-input" value=1 min=1 max=10>
							<button class="cantidad-btn plus-btn">+</button>
						  </div>
            <!-- cdad nueva -->
            <button class="agregar-carrito-modal">Agregar al carrito</button>
          </div>
        </div>
        <a href ="/productDetail/productInfo/<%= producto.id%> "><i class="fa-solid fa-pen-to-square"></i></a>
      </article>
    <% }) %>
  <% } else { %>
    <p>No se encontraron productos</p>
  <% } %>
</section>
  
<div class="finalizar-compra">
  <a href="/productDetail/productCart"><button class="boton-finalizar"> Ir al carrito</button></a>
</div>
<div style="display:flex ; justify-content:center">
  <div class="finalizar-compra">
    <a href="/productDetail/crear-producto"><button class="boton-finalizar"> AGREGAR PRODUCTOS (solo admin)</button></a>
  </div>
  <div class="finalizar-compra">
    <a href="/productDetail/search-producto"><button class="boton-finalizar"> BUSCAR PRODUCTOS (solo admin)</button></a>
  </div>
</div>
</main>
<%- include("../partials/footer.ejs")%>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <a href="https://api.whatsapp.com/send?phone=1168355475&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20productos%20." class="float" target="_blank">
          <i class="fa fa-whatsapp my-float"></i>
</body>
</html>