<%- include("../partials/head.ejs")%>
	<link rel="stylesheet" href="/css/styles-editar-productos.css">
</head>
<body>
<%- include("../partials/header.ejs")%>
     <!--  //-----------------------// -->

     <h1>LISTA DE PRODUCTOS</h1>
     <ul>
         <% for (let i = 0; i < productoResults.length; i++) { %>
             <article class="articulo-producto">
                <p class="titulo"><a href="/productDetail/productInfo/<%= productoResults[i].id %>"><%= productoResults[i].nombre %></a></p>

                 <p class="titulo">Categoría: <%= productoResults[i].categoria %></p>
                 <p class="titulo">Descripción: <%= productoResults[i].descripcion %></p>
                 <p class="precio">Precio: <%= productoResults[i].precio %><br></p>
                 <p class="producto">Imagen: <%= productoResults[i].imagen %></p>
             </article>
         <% } %>
     </ul>
     <h2 style="text-align:center;">Buscar</h2>
     <form action="/productDetail/search-producto" method="GET">
        <input type="text" name="search">
        <input type="submit" value="search">
    </form>
<%- include("../partials/footer.ejs")%>
</html>

<!--      
    
    <form action="/productDetail/search-producto" method="GET">
         <input type="text" name="search">
         <input type="submit" value="search">
     </form>
    
    -->