<%- include("../partials/head.ejs")%>
	<link rel="stylesheet" href="/css/styles-user-profile.css">
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <!-- Main container -->


    <form action="/users/editpassword" method="post" class="change-password-form">
        <label for="currentPassword" class="form-label">Contrase침a actual:</label>
        <input type="password" name="currentPassword" id="currentPassword" class="<%= locals.errors && errors.currentPassword ? 'is-invalid' : 'form-input' %>">
              
        <label for="newPassword" class="form-label">Nueva contrase침a:</label>
        <input type="password" name="password" id="password" class="<%= locals.errors && errors.password ? 'is-invalid' : 'form-input' %>">
                      
        <button type="submit" class="form-button">Cambiar contrase침a</button>
      </form>
      <% if (locals.errors && errors.currentPassword) { %>
        <div class="text-danger">
          <%= errors.currentPassword.msg %>
        </div>
      <% } %>
      <% if (locals.errors && errors.password) { %>
        <div class="text-danger">
          <%= errors.password.msg %>
        </div>
      <% } %>
    <form action="/users/profile" method="GET">
        <button class="logout-btn">Recuperar cuenta</button>
    </form>
    <form action="/users/profile" method="GET">
        <button class="logout-btn">Volver a perfil</button>
    </form>
        <!-- Logout button -->
        <form action="/users/logout" method="GET">
            <button type="submit" class="logout-btn">Cerrar sesi칩n</button>
        </form>
    </div>


</body>
<%- include("../partials/footer.ejs")%>
</html>